@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F64548;
  height: 100vh;
  width: 100%;
}
.authHeader{
  display: flex;
  justify-content: space-around;
}

.titleContainer{
  width: 60%;
  background-color: #FFE49F;
  box-shadow: 1px 1px 1px black;
  border-radius: 50px;
  padding: 10px;
}

.signUpButton{
  background-color: #F64548;
  box-shadow: 1px 1px 1px black;
  border-radius: 25px;
}



.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 90px;
  color: #F64548;
  text-shadow: 2px 2px 4px #000;
}

.restaurantTitle{
  display: flex;
  justify-content: space-evenly;
}

.restaurant{
  display: flex;
}
.roulette{
  display: flex;
}

.search-box{
  background-color: pink;
  width: 50% !important;
}
.map-container{
  display: flex;
  justify-content: space-between;

}
.side-container{
  background-color: rgb(133, 46, 60);

}
.side-map-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 300px;
}
.google-map{
  height: 100vh;
  width: 80%;
}
.side-map-buttons{
  background-color: pink;
  height: 30px;
  width: 100%;
  
}
.side-map-buttons:hover{
  background-color: grey;
  border-left: 3px solid blue;
}
.profilePic{
  height: 200px;
  width: 200px;
  border-radius: 200px;

}

@media (max-width: 880px){
  .title{
    font-size: 75px;
  }
}

@media (max-width: 750px){
  .title{
    font-size: 36px;
  }
}

@media (max-width: 360px){
  .title{
    font-size: 32px;
  }
}